{{>header}}
<div style="margin: 10px;">

<h1 class="display-6">FIFA World Cup 2022</h1>

<table data-link="row" class="table">
  <thead class="table-dark">
  <tr>
    <th scope="col"><h3>Lag</h3></th>
    <th scope="col"><h3>Position</h3></th>
    <th scope="col"><h3>Antal bucklor</h3></th>

  </tr>
  </thead>
  <tbody>

  {{#teamList}}
    <tr class="table-success">
      <td><a href="./players?country={{name}}">{{name}}</td>
      <td>{{position}}</td>
      <td>{{nrOfCups}}</td>
    </tr>
  {{/teamList}}

  </tbody>
</table>
</div>
{{>footer}}